<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <meta content="width=device-width, initial-scale=1" name="viewport">
                    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
                    <meta content="" name="description">
                        <meta content="" name="author">
                            <link href="../../favicon.ico" rel="icon">
                                <title>
                                    Dashboard Template for Bootstrap
                                </title>
                                <!-- Bootstrap core CSS -->
                                <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
                                    <!-- Custom styles for this template -->
                                    <link href="/public/css/main.css" rel="stylesheet">
                                    </link>
                                </link>
                            </link>
                        </meta>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2 class="sub-header">
                        添加学生
                    </h2>
                    <form action="/students/new" method="post">
                        <div class="form-group">
                            <label for="">
                                姓名
                            </label>
                            <input class="form-control" id="" name="name" placeholder="请输入姓名......" type="text">
                            </input>
                        </div>
                        <div class="form-group">
                            <label for="">
                                性别
                            </label>
                            <div>
                              <label class="radio-inline">
                                <input id="inlineRadio1" name="gender" type="radio" value="0">
                                    男
                                </input>
                            </label>
                            <label class="radio-inline">
                                <input id="inlineRadio2" name="gender" type="radio" value="1">
                                    女
                                </input>
                            </label>
                            </div>              
                        </div>
                        <div class="form-group">
                            <label for="">年龄</label>
                            <input id="" type="number" name="age" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">爱好</label>
                            <input id="" type="text" name="hobbies" class="form-control">
                        </div>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
